@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}

body{
  background: #f9f9f9;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.main-title{
  color: #2d2d2d;
  text-align: center;
  text-transform: capitalize;
  padding: 0.7em 0;
}

.container{
  padding: 1em 0;
  float: left;
  width: 50%;
}
@media screen and (max-width: 640px){
  .container{
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 900px){
  .container{
    width: 33.33333%;
  }
}

.container .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 90%;
  
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}

.fadeIn-right{
  left: 80%;
}

.bg{
  background-image: url("./bg1.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      height: 100%;
      width: 100%;

}


.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }




    html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}




    .container {
      padding:0 0
    }
    
    .bgimage {
      background-image: url("./bg1.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      height: 100%;
      width: 100%;
      padding-top: 75px;
    }
    
    .button {
      color: white;
      background-color: rgb(255, 132, 0);
      position: relative;
      top: 0;
      margin-left: 5vw;
    }
    
    @media only screen and (max-width:100vw) {
      .mainbox {
        margin-left: 30vw;
      }
    }




    .comtent {
      background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    overflow: hidden;
    border-color: rgba(144, 144, 144, 0.25);
    vertical-align: baseline;
    box-sizing: border-box;
    width: 80%;
    align-items: center;
    padding: 3%;
    margin: auto;
    }

    @import url(https://fonts.googleapis.com/icon?family=Material+Icons);
.main {
    margin-left: 165px; /* Same as the width of the sidenav */
     /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    border: rgb(154, 200, 200) solid;
    background-color: rgb(245, 248, 248);
    border-radius: 20px;
    border-bottom: 12px;
    border-top: 12px;

    color: #443e5d;
  }
  .main1 {
    margin-left: 165px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    margin-right: 165px;
    border: rgb(154, 200, 200) solid;
    background-color: rgb(245, 248, 248);
    border-radius: 20px;
    border-bottom: 12px;
    border-top: 12px;

    color: #443e5d;
  }
  .grind1{
    text-align: center;
    margin-left: 20px;
    
    
    border: rgb(241, 238, 238) solid;
    
    padding: 2px ;
    height: 100%;
    width: 133px;
    position: fixed;
    /* z-index: 1; */
    top: 0;
    right: 0;
    background-color: rgb(165, 229, 232);
    color:#000000;
    overflow-x: hidden;
    
    font-family: 'Times New Roman, Times, serif' bold ;
    font-size: 20px;
    border-radius: 12px;
  }
  
  .star {
    color: rgb(21, 8, 163);
    
  }

  hr.line1{
    border-bottom: #0c0b0d;
  }
  @import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.App {
  text-align: center;
  
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(45, 47, 52);
  color:#c6f4ab;
  overflow-x: hidden;
  padding-top: 20px;
  font-family: 'Times New Roman, Times, serif' ;
  border-radius: 120px;
}
.sidenav a {
  padding: 8px 8px 8px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #e4fae5;
  display: block;
  font-family: 'Courier New', Courier, monospace;
  border: #e4fae5 solid 1px;
  margin: 12px;
}

.sidenav a:hover {
  color: #f7efef;
  background-color: #e84a4a;
}

.sidenav a:active {
  color: #f7efef;
  background-color: #470f0f;
}
.grind{
  height: 100%;
  width: 80px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(165, 229, 232);
    color:#0c0b0d;
  overflow-x: hidden;
  padding-right: 60px;
  margin-top: 100px;
  font-family: 'Times New Roman, Times, serif' ;
  font-size: 11px;
  border-radius: 120px;
  margin-right: 24px;
}
.grind2{
  
  border:#000000 double 4px;
  border-radius: 120px;
  /* background-image: url("../../public/pic1.png"); */
  /* background-size: 100% 100%; */
}