@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}

body{
  background: #f9f9f9;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.main-title{
  color: #2d2d2d;
  text-align: center;
  text-transform: capitalize;
  padding: 0.7em 0;
}

.container{
  padding: 1em 0;
  
  width: 50%;
}
@media screen and (max-width: 640px){
  .container{
    display: block;
    width: 100%;
  }
}



.container .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 90%;
  
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}

.fadeIn-right{
  left: 80%;
}

.bg{
  background-image: url("./bg1.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      height: 100%;
      width: 100%;

}


.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }




    html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}




    .container {
      padding:0 0
    }
    
    .bgimage {
      background-image: url("./bg1.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      height: 100%;
      width: 100%;
      padding-top: 75px;
    }
    
    .button {
      color: white;
      background-color: rgb(255, 132, 0);
      position: relative;
      top: 0;
      margin-left: 5vw;
    }
    
    @media only screen and (max-width:100vw) {
      .mainbox {
        margin-left: 30vw;
      }
    }




    .comtent {
      background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    overflow: hidden;
    border-color: rgba(144, 144, 144, 0.25);
    vertical-align: baseline;
    box-sizing: border-box;
    width: 80%;
    align-items: center;
    padding: 3%;
    margin: auto;
    }

    @import url(https://fonts.googleapis.com/icon?family=Material+Icons);
.main {
    margin-left: 165px; /* Same as the width of the sidenav */
     /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    border: rgb(154, 200, 200) solid;
    background-color: rgb(245, 248, 248);
    border-radius: 20px;
    border-bottom: 12px;
    border-top: 12px;

    color: #443e5d;
  }
  .main1 {
    margin-left: 165px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    margin-right: 165px;
    border: rgb(154, 200, 200) solid;
    background-color: rgb(245, 248, 248);
    border-radius: 20px;
    border-bottom: 12px;
    border-top: 12px;

    color: #443e5d;
  }
  .grind1{
    text-align: center;
    margin-left: 20px;
    
    
    border: rgb(241, 238, 238) solid;
    
    padding: 2px ;
    height: 100%;
    width: 133px;
    position: fixed;
    /* z-index: 1; */
    top: 0;
    right: 0;
    background-color: rgb(165, 229, 232);
    color:#000000;
    overflow-x: hidden;
    
    font-family: 'Times New Roman, Times, serif' bold ;
    font-size: 20px;
    border-radius: 12px;
  }
  
  .star {
    color: rgb(21, 8, 163);
    
  }

  hr.line1{
    border-bottom: #0c0b0d;
  }
  @import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.App {
  text-align: center;
  
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(45, 47, 52);
  color:#c6f4ab;
  overflow-x: hidden;
  padding-top: 20px;
  font-family: 'Times New Roman, Times, serif' ;
  border-radius: 120px;
}
.sidenav a {
  padding: 8px 8px 8px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #e4fae5;
  display: block;
  font-family: 'Courier New', Courier, monospace;
  border: #e4fae5 solid 1px;
  margin: 12px;
}

.sidenav a:hover {
  color: #f7efef;
  background-color: #e84a4a;
}

.sidenav a:active {
  color: #f7efef;
  background-color: #470f0f;
}
.grind{
  height: 100%;
  width: 80px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(165, 229, 232);
    color:#0c0b0d;
  overflow-x: hidden;
  padding-right: 60px;
  margin-top: 100px;
  font-family: 'Times New Roman, Times, serif' ;
  font-size: 11px;
  border-radius: 120px;
  margin-right: 24px;
}
.grind2{
  
  border:#000000 double 4px;
  border-radius: 120px;
  /* background-image: url("../../public/pic1.png"); */
  /* background-size: 100% 100%; */
}


@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
/* Importing fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

/* Reseting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    
}

.container {
    margin-top: 100px;
}

.container .row .col-lg-4 {
    display: flex;
    justify-content: center;
}

.card {
    position: relative;
    padding: 0;
    
    border-radius: 20px;
    overflow: hidden;
   
    cursor: pointer;
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

}

.card .card-image {
    width: 100%;
    max-height: 340px;
}

.card .card-image img {
    width: 100%;
    max-height: 340px;
    object-fit: cover;
}

.card .card-content {
    position: absolute;
    bottom: -180px;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    min-height: 140px;
    width: 100%;
    transition: bottom .4s ease-in;
    box-shadow: 0 -10px 10px rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.card:hover .card-content {
    bottom: 0px;
}

.card:hover .card-content h4,
.card:hover .card-content h5 {
    transform: translateY(10px);
    opacity: 1;
}

.card .card-content h4,
.card .card-content h5 {
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    transition: 0.8s;
    font-weight: 500;
    opacity: 0;
    transform: translateY(-40px);
    transition-delay: 0.2s;
}

.card .card-content h5 {
    transition: 0.5s;
    font-weight: 200;
    font-size: 0.8rem;
    letter-spacing: 2px;
}

.card .card-content .social-icons {
    list-style: none;
    padding: 0;
}


.card .card-content .social-icons li {
    margin: 10px;
    transition: 0.5s;
    transition-delay: calc(0.15s * var(--i));
    transform: translateY(50px);
}


.card:hover .card-content .social-icons li {
    transform: translateY(20px);
}

.card .card-content .social-icons li a {
    color: #fff;
}

.card .card-content .social-icons li a span {
    font-size: 1.3rem;
}

@media(max-width: 991.5px) {
    .container {
        margin-top: 20px;
    }

    .container .row .col-lg-4 {
        margin: 20px 0px;
    }
}

h1{
  margin: 0;
  padding: 0;
}
.container1{
  margin: auto;
  width: 300px;
  top: 10%;
  position: relative;
  
}

.card1{
  width: 300px;
  height: 300px;
  transition: all 0.6s ease-in-out;
  position: absolute;
      text-align: center;
  line-height: 300px;
      
}
.card1:hover{
  transform-style: preserve-3d;
  transform: rotateX(180deg);
}
.front1{
  border: 2px solid;
  border-radius: 25px;
  position: absolute;
  background: blue;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 45%;
  -webkit-backface-visibility: hidden;
 }

.back1{
  border: 2px solid;
  border-radius: 25px;
  position: absolute;
  background: rgb(136, 0, 248);
  transform: rotateX(180deg);
  width: 100%;
  height: 100%;    
  text-align: center;
  padding-top: 20%;
  -webkit-backface-visibility: hidden;
}

.front2{
  border: 2px solid;
  border-radius: 25px;
  position: absolute;
  background: #FF1694;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 45%;
  -webkit-backface-visibility: hidden;
 }

.back2{
  border: 2px solid;
  border-radius: 25px;
  position: absolute;
  background: rgb(136, 0, 248);
  transform: rotateX(180deg);
  width: 100%;
  height: 100%;
  text-align: center; 
  padding-top: 20%;   
  -webkit-backface-visibility: hidden;
}

.front3{
  border: 2px solid;
  border-radius: 25px;
  position: absolute;
  background: rgb(252,127,3);
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 45%;
  -webkit-backface-visibility: hidden;
 }

.back3{
  border: 2px solid;
  border-radius: 25px;
  position: absolute;
  background: rgb(136, 0, 248);
  transform: rotateX(180deg);
  width: 100%;
  height: 100%;    
  text-align: center;
  padding-top: 20%;
  -webkit-backface-visibility: hidden;
}

.front4{
  border: 2px solid;
  border-radius: 25px;
  position: absolute;
  background:  #FFD300;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 45%;
  -webkit-backface-visibility: hidden;
 }

.back4{
  border: 2px solid;
  border-radius: 25px;
  position: absolute;
  background: rgb(136, 0, 248);
  transform: rotateX(180deg);
  width: 100%;
  height: 100%;    
  padding-top: 20%;
  text-align: center;
  -webkit-backface-visibility: hidden;
}
.verification_bg {

  /* background-image: url('../../public/ranger.png') ; */

  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  background-position: 'center';
  width: '100vw';
  height: '100vh'; */
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  height: 100vh; 
  width: 100vw;
  background-position: center; 
}
.verify{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: xx-large;
  font-weight: bolder;
  margin: 40px;
  /* background-color: #b8dfb4; */
  border-radius: 50px;
}